<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomConnections" type="DatabaseUtilities.DAL.Config.CustomConnectionSection, DatabaseUtilities.DAL"/>
  </configSections>

  <!-- put all the connection strings here, without the 'Initial Catalog' part -->
  <CustomConnections>
      <add id="1"  name="local" connection="Data Source=.;Integrated Security=True" group="Dev" />
  </CustomConnections>

</configuration>