<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CustomConnections" type="DatabaseUtilities.DAL.Config.CustomConnectionSection, DatabaseUtilities.DAL"/>
  </configSections>

  <!-- put all the connection strings here, without the 'Initial Catalog' part -->
  <CustomConnections>
      <add id="1" name="local" server="Data Source=.;Integrated Security=True" environment="Dev"/>
  </CustomConnections>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
