<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CustomConnections"  type="DatabaseUtilities.DAL.Config.CustomConnectionSection, DatabaseUtilities.DAL"/>
  </configSections>

  <!-- put all the connection strings here, without the 'Initial Catalog' part -->
  <CustomConnections>
    <!--<add id="1"  name="sql_1" server="." environment="Dev" />
    <add id="2"  name="sql_2" server="." environment="Dev" />
    <add id="3"  name="sql_1" server="." environment="test" />-->

    <add id="1" server="sql11.Dev01.commsec-it.cba\BWSCS_PRIN11" name="SQL_11" environment="dev01"/>
    <add id="2" server="sql12.Dev01.commsec-it.cba\BWSCS_PRIN12" name="SQL_12" environment="dev01"/>
    <add id="3" server="sql14.dev01.commsec-it.cba\BWSCS_PRIN14" name="SQL_14" environment="dev01"/>
    <add id="4" server="sql21.Dev01.commsec-it.cba\BWSCS_PRIN21" name="SQL_21" environment="dev01"/>
    <add id="5" server="sql22.Dev01.commsec-it.cba\BWSCS_PRIN22" name="SQL_22" environment="dev01"/>
    <add id="6" server="sql23.Dev01.commsec-it.cba\BWSCS_PRIN23" name="SQL_23" environment="dev01"/>
    <add id="8" server="sql24.Dev01.commsec-it.cba\BWSCS_PRIN24" name="SQL_24" environment="dev01"/>

    <add id="7" server="sql11.test01.commsec-it.cba\BWSCS_PRIN11" name="SQL_11" environment="test01"/>
    <add id="9" server="sql13.Dev01.commsec-it.cba\BWSCS_PRIN13" name="SQL_13" environment="dev01"/>
    
  </CustomConnections>
  <connectionStrings>
    <!-- put all the connection strings here pointing to the master database -->
    <add connectionString="Data Source=.;Integrated Security=True" name="local"/>

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
