<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="CustomConnections"  type="DatabaseUtilities.DAL.Config.CustomConnectionSection, DatabaseUtilities.DAL"/>
  </configSections>

  <!-- put all the connection strings here, without the 'Initial Catalog' part -->
  <CustomConnections>
    <add id="1"  name="local" connection="Data Source=.;Integrated Security=True" group="Dev" />
  </CustomConnections>
  
  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>


  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "C:\Users\Alan\Documents\GitHub\Database-Utilities\code\DatabaseUtilities.Web.Server\logs\wcf.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
</configuration>
